<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>toptext</key>
		<string>どうした</string>
		<key>calltext</key>
		<string>どうしたーたなかぁそんなもんじゃあねぇだろー　※repeat</string>
		<key>meaning</key>
		<string>2杯目に使える。気持ちで表すと「1杯だけかよ、どうしたんだよ田中」をいみする。</string>
		<key>sound</key>
		<string>sound1</string>
	</dict>
	<dict>
		<key>toptext</key>
		<string>sleep</string>
		<key>calltext</key>
		<string>0</string>
		<key>meaning</key>
		<string>0</string>
		<key>sound</key>
		<string></string>
	</dict>
	<dict>
		<key>toptext</key>
		<string>sleep</string>
		<key>calltext</key>
		<string>0</string>
		<key>meaning</key>
		<string>0</string>
		<key>sound</key>
		<string></string>
	</dict>
	<dict>
		<key>toptext</key>
		<string>sleep</string>
		<key>calltext</key>
		<string>0</string>
		<key>meaning</key>
		<string>0</string>
		<key>sound</key>
		<string></string>
	</dict>
	<dict/>
	<dict/>
	<dict/>
	<dict/>
</array>
</plist>
